# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
env/
.env/

# Editor/IDE files
.vscode/
.idea/
*.swp
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Test and build artifacts
.pytest_cache/
build/
dist/

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Miscellaneous
.coverage
htmlcov/
.tox/

a.pub